<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta content="IE=edge" http-equiv=X-UA-Compatible>
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <link href=/favicon.ico rel=icon>
    <title>woorder-user</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel=stylesheet>
    <link href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css rel=stylesheet>
    <link as=style href=/../../static/user/css/app.f9a6181c.css rel=preload>
    <link as=style href=/../../static/user/css/chunk-vendors.44d8f4b9.css rel=preload>
    <link as=script href=/../../static/user/js/app.f34bcf4b.js rel=preload>
    <link as=script href=/../../static/user/js/chunk-vendors.b19e3cdb.js rel=preload>
    <link href=/../../static/user/css/chunk-vendors.44d8f4b9.css rel=stylesheet>
    <link href=/../../static/user/css/app.f9a6181c.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but woorder-user doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/../../static/user/js/chunk-vendors.b19e3cdb.js></script>
<script src=/../../static/user/js/app.f34bcf4b.js></script>
</body>
</html>